# Old JS files

app_oldV2.js
app_oldV3.js
appV4.js
data.json
data2.json
data3.json
data4withImageURL.json
rest.js
test.js
mobileModel.js
old_app.js
web_Scraping.py
web_Scraping2.py
fetchImages.py
main.py

/node_modules
/downloads